.container{
    width: 85%;
    margin: 0 auto;
    @media screen and (max-width:650px ){
        width: 95%;
        
    }
}
section{
    margin:3rem 0 ;
}

.btn{
    padding: 15px 25px;
    border: 1px solid ;
    border-radius: 15px;
    background-color: chocolate;
    color:black;
    transition: all 0.4s;
    &:hover{
        border-radius: 2px solid white;
        color: white;
    }
}

.window__scroll{
    background: linear-gradient(rgb(109, 183, 233),rgb(138, 176, 207)) ;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
}





