.header{
    margin-top: 6rem;
    height: 100%;
    
    background:linear-gradient(rgb(139, 139, 241),rgb(210, 210, 231)) ;
    padding: 4rem 1rem;
    .container{
        display: grid;
        grid-template-columns:40% 60%;
        gap: 6rem;
        .header__image{
            img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            }
        }
        .header__info{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            h1{
                font-size: 3rem;
                font-weight: 500;
            }
            h4{
                font-weight: 400;
            }
            p{
                line-height: 2;
            }
            a{
                width: 50%;
                text-align: center;
            }

        }
    }
}
@media screen and (max-width:1050px) {
    .header{
        padding: 2rem 1rem;
        .container{
            
            display: grid;
            gap: 3rem;
            grid-template-columns: 30% 70%;
        }
    }
 
}
@media screen and (max-width:950px) {
    .header{
        text-align: center;
        padding: 2rem 1rem;
        .container{
            display: grid;
            gap: 3rem;
            grid-template-columns: 1fr;
            .header__info{
                align-items: center;
            }
        }
    }
 
}

