
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background: #ffff;
    font-family: Montserrat, sans-serif;
}