.teams {
  margin: 6rem 0;
  background-color: rgb(182, 182, 182);
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    .team__info {
      h1 {
        margin: 2rem 0;
        font-size: 2.2rem;
        color: white;
      }
      p {
        color: white;
        font-size: 1.5rem;
        line-height: 1.7;
      }
    }
    .our__team {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
      padding: 2rem;
      margin: 2rem 0;

      .team {
        background-color: white;
        border: 1px solid transparent;
        border-radius: 25px;
        box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
        padding: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
        &:hover {
          .team__image::before {
            top: 0;
            border-radius: 1rem;
          }
          .hidden {
            top: 50%;
          }
          .sociale__icons {
            top: 5%;
            a {
              transform: scale(1.05);
            }
          }
        }

        .team__image {
          position: relative;
          img {
            padding: 2.5rem;
            width: 20rem;
            height: 20rem;
          }
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            background: rgb(188, 132, 221);
            opacity: 0.6;
            border-radius: 50%;
            top: -100%;
            transition: 0.5s all ease-in-out;
          }
        }
        .hidden {
          position: absolute;
          top: 200%;
          left: 0;
          right: 0;
          text-align: left;
          border: 1px solid transparent;
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
          background: linear-gradient(
            (rgb(69, 168, 168) 0.2),
            rgb(35, 185, 211)
          );
          padding: 1rem;
          color: white;
          line-height: 1.7;
          width: 100%;
          height: 35%;
          border-radius: 15px;
          transition: all 0.7s 150ms ease-in-out;
        }
        .sociale__icons {
          position: absolute;
          top: -100%;
          display: flex;
          gap: 2.5rem;
          transition: all 1.1s 510ms;

          a {
            border: 1px solid transparent;
            border-radius: 50%;
            background: white;
            display: flex;
            gap: 1rem;
            font-size: 1.3rem;
            padding: 1rem;
            transition: all 0.5s 400ms;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 950px) {
  .teams {
    .container {
      .our__team {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .teams {
    .container {
      .our__team {
        .team {
          .sociale__icons {
            gap: 0.4rem;
          }
        }
      }
    }
  }
}
